<div id="<%= dom_id user %>">
  <p>
    <strong>Name:</strong>
    <%= user.name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= user.email %>
  </p>

  <p>
    <strong>Phone number:</strong>
    <%= user.phone_number %>
  </p>

  <p>
    <strong>Profile photo:</strong>
    <%= image_tag(user.profile_photo, width: 300)  if user.profile_photo.attached? %>
    <!-- <%= link_to user.profile_photo.filename, user.profile_photo if user.profile_photo.attached? %> -->
  </p>

</div>
